TEXTSMS_API_KEY=
TEXTSMS_PARTNER_ID=
TEXTSMS_SHORTCODE=
ADMIN_SMS_PHONE=
TEXTSMS_API_URL=https://sms.textsms.co.ke/api/services/sendsms/
VITE_SUPABASE_URL=https://vtwmkijslfbndstwzxth.supabase.co
VITE_SUPABASE_ANON_KEY=
VITE_BACKEND_URL=https://skygrid-pivault-backend.vercel.app
